<!DOCTYPE html>
<html>
	<body>
	<h1>What's your name?</h1>
			<form action="/enter" method="post">
			Your Name:<input type="text" name="name" placeholder="your name" required> </input>
			<input type="submit" value="play">
	</form>
	</body>
</html>