<html>

	<body>


			<h1>Enter players</h1>
		<form action="/startgame" method="post">
			Player 1: please enter your name: <input type="text" name="name1" id="name" placeholder="your name" required><br>
			Player 2: please enter your name: <input type="text" name="name2" id="name" placeholder="your name" required><br>
			<input type="hidden" name="position" value="start"/>
			<input type="submit" value="Start Battleships!" >

		</form>

		<%=@name%>

	</body>

</html>
